appdirs==1.4.4
blinker==1.4
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
distlib==0.3.2
filelock==3.0.12
Flask==2.0.1
Flask-Mail==0.9.1
Flask-MySQLdb==0.2.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysql-connector-python==8.0.25
mysqlclient==2.0.3
protobuf==3.17.3
requests==2.25.1
six==1.16.0
tabulate==0.8.9
urllib3==1.26.5
virtualenv==20.4.7
Werkzeug==2.0.1
